# Data Conversion in Python

In [2]:
data_conver = "Let's dive right into it"
print(data_conver)

Let's dive right into it

Convert a string to Integer using the int()

In [4]:
number = "2"
number1 = "3"
print(number+number1)#the sum of these two values is absurd. Let's change a string value to integer
print(int(number)+int(number1))#now it's sorted out well

23
5

Convert a String to Floating using the float()

In [5]:
number = "5.5"
number1 = "6.5"
print(float(number)+float(number1))

12.0

Convert an Integer to String using the str()

In [6]:
my_age = 27
print("I am " + str(my_age) + " years old.")

I am 27 years old.

Convert a List to a String using the .join()

In [8]:
countries = ["Kenya", "Namibia", "Zambia"]
print(" , ".join(countries))

Kenya , Namibia , Zambia

In [12]:
race = "African, Asian, American"
print(race.split(" , "))

['African, Asian, American']